<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>

        <p>{{screamIt "We're working with the site to make it better. Back soon."}}</p>

        {{> footer}}
    </body>
</html>
